body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
}


a {
    text-decoration: none;
    color: #E5E7EB;
}

.header {
    background-color: #1F2937;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 8px 120px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}


.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}



.hero-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-subtext {
    margin-bottom: 8px;
    color: #E5E7EB;
    max-width: 500px;
}

.header-img {
    height: 200px;
    width: 500px;
}

.big-pieces {
    display: flex;
    padding: 80px 0;
    gap: 24px;
    justify-content: center;
    align-items: center;
}


.quote-section {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 80px 180px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    align-items: flex-end;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.attribution {
    font-weight: 700;
    font-size: 20px;
}


.sign-up-button,
.alt-border-sign-up-button {
    background-color: #3882F6;
    color: #FFF;
    font-weight: bold;
    padding: 8px 24px;
    border-radius: 0.5rem;
}

.alt-border-sign-up-button {
    border-color: #FFF;
    border-width: 2px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.info-header-text {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 44px;
}

.small-img {
    height: 200px;
    width: 200px;
    border-radius: 0.5rem;
    border-color: #3882F6;
    border-width: 4px;
    border-style: solid;
}

.items {
    display: flex;
    margin-bottom: 80px;
    padding: 0 100px;
    gap: 90px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    text-align: center;
}

.banner {
    color: #FFF;
    display: flex;
    background-color: #3882F6;
    margin: 60px 0;
    padding: 40px 80px;
    border-radius: 0.3rem;
    max-width: 900px;
    align-self: center;
    gap: 40px;
}

.call-text {
    font-weight: bold;
}

.banner-subtext {
    color: #E5E7EB;
}

.footer {
    color: #FFF;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 34px;
}
